h1{
    text-align: center;
}
label{
    margin: auto;
    
}

.abc{
    text-align: center;
}
footer{
    text-align: center;
}
.n{
    margin-left: -130px;
}
.e{
    margin-left: -130px;
}
.p{
    margin-left: -109px;
}
.cp{
    margin-left: -53px;
}
